/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Lato&display=swap');

:root {
    --primary--clr:#0e0e10;
    --secondary--clr:#e34234;
    --background--clr:#c7c7d1;
    --text--clr:#f4f4f6;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    background-color: var(--background--clr);
}
h1 {
    font-family: 'Just Another Hand', cursive;
}
h3 {
    color: var(--text--clr);
    font-size:1.3rem;
}
h2 {
    font-size:1.2rem ;
    text-transform: uppercase;
    font-weight: 600;
}
h4 {
    font-family: 'Just Another Hand', cursive;
}
/*----------------NAVIGATION------------------*/
.logo {
    width: 30px;
    height: auto;
    margin-right: 3px;
    padding-bottom: 6px;
}
.logo:hover {
    width: 33px;
    height: auto;
}
.navbar {
    background-color: var(--primary--clr);
}
.navbar-brand {
    font-family: 'Just Another Hand', cursive;
    color: var(--text--clr);
    font-size: 1.8rem;
    margin-right: 0px;
}
.navbar-brand:hover {
    color: var(--secondary--clr);
}
.navbar-toggler {
    color: var(--text--clr); 
    padding-right: 0px; 
    padding-left: 5px;
}
#navbarNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.nav-link {
     color: var(--text--clr);
     font-size: 1.3rem;
}
.nav-link:hover {
    color: var(--secondary--clr);
}
.navbar-nav .nav-link {
    text-align: center;
}
.navbar-toggler .navbar-toggler-icon {
    color: var(--text--clr);
    background-color: thistle;
}

.fa-bars::before {
    content: "\f0c9";
    font-size: 1.5rem;
    }
.navbar-text {
    padding-bottom: 0px;
    padding-left: 3px;
    font-size: 1.2rem;
}

/*----------------HOME PAGE------------------*/
.home-container {
      /* ---------- Credit Photo by Bronislaw Drozka from Pixabay ----------*/
    background: url('../images/hero-image.jpg') no-repeat bottom center;
    background-color: rgb(218, 197, 197);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.welcome-sign {
    width: 95%;
    background-color: var(--primary--clr); 
    border-radius:1.3rem; 
    padding-bottom: 22px;
    padding-top: 22px;
    margin-bottom: 0px;
  }
.welcome-text {
    line-height: 1.2;
    font-size: 2.1rem;
    letter-spacing: 2px;
    font-family: 'Just Another Hand', cursive;
}
/*-----------------ABOUT PAGE------------------*/
#about {
    height: auto;
 }
.img-dwarf {
    width: 250px;
    height: auto;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 12px;
}
.image-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-margin{
    margin-top: 5rem;
}

/*---------------ABOUT PAGE - WEATHER----------------*/

.home-container {
    position: relative;
}
.weather-container{
    height: 250px;
    margin-top: 90px ;
    position: absolute;
    top: 0;
}
.weather {
    color: var(--text--clr);
}

.temp {
    font-size: 45px;
    text-align: center;
}
.city,
.description {
    font-size: 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*---------------ABOUT PAGE - GALLERY----------------*/
/*CREDIT:*/
#gallery-container{
    background-color: var(--text--clr);
    position: relative;
    height: 340px; 
    overflow: hidden;
    margin-bottom: 5rem;
}
#gallery{
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.gallery-row{
    display: block;
    position: relative;
    -webkit-animation:linear infinite;
            animation:linear infinite;
    -webkit-animation-name: scroll;
            animation-name: scroll;
    -webkit-animation-duration: 80s;
            animation-duration: 80s;
}
#gallery img{
    height: 160px;
    width: auto;
    padding: 5px;
}

/* Code sourced from Stack Overflow (https://stackoverflow.com/questions/41587802/css-animation-from-left-to-right) */
@-webkit-keyframes scroll { 
    0% {right: 0%;}
    50%{right : 50%;}
    100%{right: 0%;}
}
@keyframes scroll { 
    0% {right: 0%;}
    50%{right : 50%;}
    100%{right: 0%;}
} 
/*-----------------ATTRACTIONS PAGE------------------*/
#attractions {
    height: auto;
}
.heading {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.heading-style {
    margin-top: 1rem;
    font-size: 3rem;
    letter-spacing: 3px;
}
.image-attractions {
     /*----CREDIT: CREDIT: Photo by studio500 from Pixaby----*/
    background-image: url('../images/wroclaw-roof.jpg');
    height: 200px;
}
.section-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#map {
   height: 400px;
    width: 100%; 
}
.map-buttons{
    width: 100%;
    min-height: 200px;
    margin-bottom: 7px;
    display: -ms-grid;
    display: grid;  
}
.btn-success {
    color: var(--primary--clr);
    background-color:var(--secondary--clr);
    border: 1px solid var(--primary--clr);
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
 }
.btn-success:hover {
    color: var(--primary--clr);
    background-color:var(--text--clr);
    border-color:var(--primary--clr);
}
.btn-success:focus {
    color:var(--primary--clr);
    background-color:var(--text--clr);
    border-color:var(--primary--clr);
    -webkit-box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 27%);
            box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 27%);
}
.btn span {
    font-size: 0.9rem;
}
.dwarf-icon {
    width: 30px;
    height: auto;
}
.width-size {
    width: 100%;
}
/*-----------------Contact Us  PAGE------------------*/
#contact {
    height: 100vh;
    margin-top: 200px;
}
.image-contact {
    /*----CREDIT: CREDIT: Photo by Eveline de Bruin from Pixaby----*/
    background-image: url('../images/three-dwarfs.jpg');
    height: 200px;
    width: auto;
}
.form-control{
    margin: 0.50rem;
}
.form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn-primary {
    color: var(--primary--clr);
    background-color:var(--secondary--clr);
    border: 1px solid var(--primary--clr);
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    -ms-grid-column-align: center;
        justify-self: center;
 }
 .btn-primary:visited {
    color: var(--primary--clr);
    background-color:var(--text--clr);
    border-color:var(--primary--clr);
}
.btn-primary:hover {
    color: var(--primary--clr);
    background-color:var(--text--clr);
    border-color:var(--primary--clr);
}
.btn-primary:focus {
    color: var(--primary--clr);
    background-color:var(--text--clr);
    border-color:var(--primary--clr);
    -webkit-box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 27%);
            box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 27%);
}
.padding-margin {
    padding-left: 0px;
    padding-right: 17px;
    margin-bottom:80px;
}
a.contact-details {
    color: var(--secondary--clr);
}

/*-----------------FOOTER------------------*/
footer {
    background-color:var(--primary--clr);
    bottom:0px;
    height: 3.5rem;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	align-items: center;
    position: relative;
    z-index: 1030;
}
.social-links-item {
    display: inline-block;
    padding-left:25px;
    padding-right:25px;  
    list-style: none;  
}
.social-links-item i {
    font-size: 1.5rem;
    color:var(--text--clr);
}
.social-links-item i:hover {
    color:var(--secondary--clr);
}
.social-links {
    padding-left:0;
}

/*---------Media for Large Devices----------*/
@media screen and (min-width:540px){
    .navbar-text {
        font-size: 2.6rem;
    }
    .navbar-brand {
        font-size: 2.8rem;
        letter-spacing: 1px;
        margin-right: 0px;
    }
    .fa-bars::before {
        font-size: 2rem;
        padding-left: 0px;
    }
    .fa-bars:hover {
        color: var(--secondary--clr);
    }
    .navbar-text {
        font-size: 2.1rem;
        letter-spacing: 1px;
    }
    .logo {
        width: 40px;
    }
    .logo:hover {
        width: 43px;
    }
    .welcome-sign {
        width: 70%;
    }
    .welcome-text {
        font-size: 2.6rem;
        letter-spacing: 3px;
    }
    .heading-style {
        font-size: 4rem;
    }
    .about-margin{
        margin-top: 5rem;
    }   
    .image-attractions,
    .image-contact
    {
        height: 300px;
    }
    .map-buttons{
        width:80%;
        min-height: 200px; 
    }
    .btn span {
        font-size: 1.2rem;
    }
    .img-dwarf { 
        width: 300px;
    }
}
@media screen and (min-width:763px){
    .welcome-sign {
        width: 60%;
    }
}
 @media screen and (min-width:992px) {
    .welcome-sign {
        width: 40%;
    }
 }  
   
 @media screen and (min-width:910px) {
    .map-buttons{
        width:30%;
        min-height: 200px; 
    }
    .width-size {
        width: 65%;
        padding-right: 20px;
    }
    .btn-success {
        margin-bottom: 1.2rem;
        margin-top: 1.2rem;
 }
 }  