@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    background-color: rgb(218, 197, 197);
}
h1 {
    font-family: 'Just Another Hand', cursive;
}
h3 {
    color:#f4f4f6;
    font-size:1.3rem;
}
/*----------------NAVIGATION------------------*/
.logo {
    width: 30px;
    height: auto;
    margin-right: 3px;
    padding-bottom: 6px;
}
.logo:hover {
    width: 33px;
    height: auto;
}
.navbar {
    background-color: black;
}
.navbar-brand {
    font-family: 'Just Another Hand', cursive;
    color: white;
    font-size: 1.8rem;
    margin-right: 0px;
}
.navbar-brand:hover {
    color: red;
}
.navbar-toggler {
    color: white; 
    padding-right: 0px; 
    padding-left: 5px;
     
}
#navbarNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.nav-link {
     color: white;
     font-size: 1.3rem;
}
.nav-link:hover {
    color: red;
}
.navbar-nav .nav-link {
    text-align: center;
}
.navbar-toggler .navbar-toggler-icon {
    color: white;
    background-color: thistle;
}
.fa-bars::before {
    content: "\f0c9";
    font-size: 1.5rem;
    }
}
.fa-bars:hover {
    color: red;
}
.navbar-text {
    padding-bottom: 0px;
    padding-left: 3px;
    font-size: 1.2rem;
}

/*----------------HOME PAGE------------------*/
.home-container {
      /* ---------- Credit Photo by Bronislaw Drozka from Pixabay ----------*/
    background: url('../images/hero-image.jpg') no-repeat bottom center fixed;
    background-color: gray;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.welcome-sign {
    width: 95%;
    background-color: #000000c2; 
    border-radius:0.3rem; 
    padding-bottom: 22px;
    padding-top: 22px;
    margin-bottom: 0px;
  }
.welcome-text {
    line-height: 1.2;
    font-size: 2.1rem;
    letter-spacing: 2px;
    font-family: 'Just Another Hand', cursive;
}




/*---------Media for Large Devices----------*/
@media screen and (min-width:540px){
    .navbar-text {
        font-size: 2.6rem;
    }
    .navbar-brand {
        font-size: 2.8rem;
        letter-spacing: 1px;
        margin-right: 0px;
    }
    .fa-bars::before {
        font-size: 2rem;
        padding-left: 0px;
    }
    .navbar-text {
        font-size: 2.1rem;
        letter-spacing: 1px;
    }
    .logo {
        width: 40px;
    }
    .logo:hover {
        width: 43px;
    }
    .welcome-sign {
        width: 70%;
    }
    .welcome-text {
        font-size: 2.6rem;
        letter-spacing: 3px;
    }
}

@media screen and (min-width:763px){
    .welcome-sign {
        width: 60%;
    }
}
 @media screen and (min-width:992px) {
    .welcome-sign {
        width: 40%;
    }
 }  
   